header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 40px;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(46, 46, 46, 0.2);
    z-index: 1000;
}

#headerItems {
    display: flex;
    align-items: center;
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
}

#logoContainer{
    cursor: pointer;
}

header button{
    height: 36px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 600;
    margin: 0 10px;
    cursor: pointer;
}
.greyButton{
    background-color: white;
    border: 1px solid gray;
    color: #888;
}

#createAnnonce{
    background-color: #fbd01e;
    border:none;
    color: #2e2e2e;
}

#headerButtons {
    margin-left: 10px;
}

header input {
    background-color: #f4f4f4;
    color: #2e2e2e;
    border-radius: 10px;
    font-size: 16px;
    height: 36px;
    flex: 1;
    margin-left: 20px;
    border: none;
}