body, html{
    margin: 0;
    padding: 0;
}

footer {
    position: static; /*Relative to the content*/
    bottom: 0;
}
main{
	background: #f4f4f4f4;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#mainPageHeader {
	font-size: 40px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-weight: bold;
	padding:15px;
	color:black;
	text-align: center;
	text-transform: capitalize;
}

.image-container {
    overflow-x: hidden;
    max-width: 100%;
}
.image-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 1.5rem;
    position: relative;
    left: 0;
    transition: .3s;
}
.image-wrapper > * {
    aspect-ratio: 4 / 3;
}
img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: .5rem;
}

div.desc {
  	padding: 2px;
  	text-align: center;
	font-size: 30px;
	background: white;
	width: 250px;
	height: 60px;
}

.button {
  	padding: 10px;
	width: 500px;
  	text-align: left;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
	background: white;
	border-radius: 12px;
}

.button1 {
	box-shadow:  6px 0 0 0 red;
}
.button2 {
	box-shadow:  6px 0 0 0 black;
}
.button3 {
	box-shadow:  6px 0 0 0 yellow;
}
.button4 {
	box-shadow:  6px 0 0 0 blue;
}
.button5 {
	box-shadow:  6px 0 0 0 green;
}
.button6 {
	box-shadow:  6px 0 0 0  aqua;
}

.button7 {
	box-shadow:  6px 0 0 0 bisque;
}
.button8 {
	box-shadow:  6px 0 0 0 darkmagenta;
}
.button9 {
	box-shadow:  6px 0 0 0 darkolivegreen;
}
.button10 {
	box-shadow:  6px 0 0 0 darkviolet;
}
.button11 {
	box-shadow:  6px 0 0 0 lawngreen;
}
.button12 {
	box-shadow:  6px 0 0 0 lightpink;
}
/* The grid: Four equal columns that floats next to each other */

.column {
  float: left;
  width: 250px;
  padding: 5px;
}

/* Style the images inside the grid */
.column img {
  	opacity: 0.8;
  	cursor: pointer;
	width: 250px;
	height: 250px;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
