#loginContainer{
    /*Make the container fullscreen*/
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    /* Place content in center of screen */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Move login container behind main instead of using "display none", as animation would not show before container was hidden */
    z-index: -999;
    overflow: hidden;
}

#loginContainer .clickBackground {
    background-color: rgba(20,20,20,0);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#loginContainer.loginVisible .clickBackground {
    background-color: rgba(20,20,20,0.3);
}

#loginContainer.loginVisible {
    /* When container is visible: dark transparent background color and move in front of everything */
    z-index: 99999;
}

#loginContainer .loginBox {
    background-color: pink;
    width: 100%;
    height: 100%;

    /* Start box below visible screen window, and animate it into the window on container visible */
    transform: translateY(100vh);
    transition: transform 1s;

    /*formcontainer took up more space  with grid flex when i set padding, changed to grid flex*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.loginImageContainer{
    background-color: lightskyblue;
}

.formContainer{
    background-color: lime;
    padding: 80px;
}

#loginContainer.loginVisible .loginBox {
    transform: translateY(0);
}


@media only screen and (min-width:1000px){
    #loginContainer .loginBox{
        width: 1000px;
        height: 800px;
    }
}
