header {
    box-sizing: border-box;
}

#loginContainer {
    /*Make the container fullscreen*/
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    /* Place content in center of screen */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Move login container behind main instead of using "display none", as animation would not show before container was hidden */
    z-index: -1000;
    overflow: hidden;

}

#loginContainer .clickBackground {
    background-color: rgba(20, 20, 20, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#loginContainer.loginVisible .clickBackground {
    background-color: rgba(20, 20, 20, 0.3);
}

#loginContainer.loginVisible {
    /* When container is visible: dark transparent background color and move in front of everything */
    z-index: 1002;
}

#loginContainer .loginBox {
    width: 100%;
    height: 100%;

    /* Start box below visible screen window, and animate it into the window on container visible */
    transform: translateY(200vh); /*Sizes different on smaller screens, changed the number from 100 to 200*/
    transition: transform 1s;

    /*formcontainer took up more space  with grid flex when i set padding, changed to grid template*/
    display: grid;
    grid-template-columns: 1fr 1fr;

    box-sizing: border-box;
    z-index: 1001;
}

.loginImageContainer {
    background-image: url("images/tekopper.webp");
    border-radius: 20px 0 0 20px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.loginTextContainer {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
}

.loginImageText {
    padding: 80px;
}

.loginImageText h1,
.loginImageText p {
    color: white;
}

.formContainer {
    padding: 60px; /*changed from 80px to 60px*/
    background-color: white;
    border-radius: 0 20px 20px 0;
}

.formContainer h1 {
    font-size: 36px;
    font-weight: 400;
    color: #2e2e2e;
    margin: 10px 0;
}

.formContainer p {
    font-size: 20px;
    color: #2e2e2e;
    font-weight: 400;
}

.formButtons input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    font-size: 16px;
}

#inputMail {
    margin-top: 60px;
}

#inputMail input {
    background-color: #f4f4f4;
    border-radius: 10px;
}

#inputPassword {
    margin-top: 8px;
}

#inputPassword input {
    background-color: #f4f4f4;
    border-radius: 10px;
}

#inputSubmit {
    margin-top: 40px;
}

#inputSubmit input {
    background-color: #fbd01e;
    border-radius: 10px;
}

#inputSubmit input:hover {
    cursor: pointer;
}

.extraLoginItems {
    margin-top: 20px;
}

.extraLoginItems a {
    text-decoration: none;
    color: #2e2e2e;
}

.extraLoginItems input, label {
    cursor: pointer;
}

.closeLogin {
    position: absolute;
    right: 5%;
    top: 5%
}

.formContainer button {
    border: none;
    width: 4%;
    height: 4%;
    background-color: transparent;
    color: #888;
    font-weight: 400;
    font-size: 25px;
}

.formContainer button:hover {
    border-radius: 5px;
    background-color: #f4f4f4;
    cursor: pointer;
}

.gradientOverlay {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5))
}

#loginContainer.loginVisible .loginBox {
    transform: translateY(0);
}

#loginContainer input {
    width: 100%;
    margin: 0;
    padding: 0;
}

.extraLoginItems {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
}

#errorMessageContainer {
    margin-top: 60px;
}

#errorMessageContainer h1{
    font-weight: 400;
    font-size: 30px;
}
#errorMessageContainer p{
    font-size: 20px;
}
@media only screen and (min-width: 1000px) {
    #loginContainer .loginBox {
        width: 1000px;
        height: 60%; /*changed from 800px to 60% cause the div was too big on smaller screens*/
    }
}
